* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #00b4d8;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00b4d8;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-link {
  text-decoration: none;
  background-color: white;
  color: #03045e;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0px 5px;
  font-size: 20px;
}

.logo a {
  font-size: 30px;
  font-family: Arial;
  color: #03045e;
  border: 2px solid transparent;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.logo a:hover {
  border-bottom: 2px solid #03045e;
}

.txt-footer {
  color: #03045e;
}

.footer-partners {
  color: #03045e;
}

.section {
  flex: 1 0 auto;
  height: 600px;
  padding: 50px;
  margin: 0px auto;
}

.container {
  height: auto;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.input {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: #e7e7e7;
  padding: 10px;
  transition: 0.5s;
}

.input-txt {
  color: #7575a1;
}

.input-label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #403866;
}

.input:hover {
  border: 2px solid grey;
}

#btn-submit {
  padding: 10px 30px;
  margin-bottom: 10px;
  background-color: #8282f5;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  width: 500px;
  font-weight: bold;
}

#btn-submit:hover {
  background-color: #403866;
}

.btn-form-group {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

#link-login {
  text-decoration: none;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  color: #343a40;
  font-size: 15px;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: 0.5s;
}

#link-login:hover {
  color: #e7e7e7;
}

.radio-container label {
  font-family: Arial, Helvetica, sans-serif;
}

.event-input {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 